POSTGRES_PASSWORD=change-me

JWT_SECRET=change-me
SECRET_ENCRYPTION_KEY=change-me

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=change-me
SMTP_PASSWORD=change-me
SMTP_FROM_ADDRESS=noreply@example.com

MINIFLUX_USERNAME=admin
MINIFLUX_PASSWORD=change-me

DEEPL_API_KEY=change-me
